<div class="login-wrapper">
  <div class="login-card">

    <h2>Welcome Back</h2>
    <p class="subtitle">Sign in to continue</p>

    <!-- Email -->
    <div class="field">
      <input
        id="email"
        type="email"
        placeholder=" "
        [(ngModel)]="email">

      <label for="email">Email address</label>
    </div>

    <!-- Password -->
    <div class="field">
      <input
        id="password"
        [type]="showPassword ? 'text' : 'password'"
        placeholder=" "
        [(ngModel)]="password">

      <label for="password">Password</label>

      <button
        class="password-toggle"
        type="button"
        (click)="togglePassword()"
        aria-label="Toggle password">

        <i
          class="bi"
          [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'">
        </i>

      </button>
    </div>

    <button
      class="login-btn"
      (click)="onLogin()"
      [disabled]="isLoading">

      {{ isLoading ? 'Logging in...' : 'Sign In' }}

    </button>
 


  </div>
</div>