<nav class="navbar">
  <div class="logo">BookMyVenue</div>

  <div class="search-box">
    <input type="text" placeholder="Search my venues..." />
  </div>

  <div class="nav-actions">
    <button class="add-btn" (click)="goToAddVenue()">+ Add</button>
    <img 
      src="https://cdn-icons-png.flaticon.com/512/149/149071.png" 
      class="profile"
    />
  </div>
</nav>

<div class="venue-container">
  <div class="venue-card" *ngFor="let venue of venues">

    <!-- IMAGE -->
    <img 
      [src]="venue.images?.[0]?.imageUrl || 'assets/default.jpg'" 
      class="venue-img"
    />

    <!-- CONTENT -->
    <div class="venue-content">
      <h3>{{ venue.name }}</h3>
      <p class="location">📍 {{ venue.address }}</p>

      <p class="desc">{{ venue.description }}</p>

      <div class="details">
        <span>👥 {{ venue.capacity }}</span>
        <span class="price">₹{{ venue.pricePerDay }}</span>
      </div>

      <!-- STATUS -->
      <span class="status" [ngClass]="venue.status">
        {{ venue.status }}
      </span>

      <!-- OWNER ACTIONS -->
      <div class="actions">
        <button >View</button>
        <button >Edit</button>
        <button class="danger" >
          Delete
        </button>
      </div>
    </div>

  </div>
</div>