<div class="venue-container">

  <div class="venue-card" *ngFor="let v of venues">

    <!-- IMAGE -->
    <img 
      [src]="v.images?.[0]?.imageUrl || 'assets/default.jpg'" 
      class="venue-img"
    />

    <!-- CONTENT -->
    <div class="venue-content">
      <h3>{{ v.name }}</h3>

      <p class="location">📍 {{ v.city || 'N/A' }}</p>

      <p class="desc">
        Owner: {{ v.owner?.name || 'Unknown' }}
      </p>

      <div class="details">
        <span>👥 {{ v.capacity }}</span>
      </div>

      <!-- STATUS -->
      <span class="status pending">
        {{ v.status }}
      </span>

      <!-- ACTIONS -->
      <div class="actions">
        <button class="approve" (click)="approve(v.id)">
          Approve
        </button>

        <button class="reject" (click)="reject(v.id)">
          Reject
        </button>
      </div>

    </div>

  </div>

  <!-- EMPTY STATE -->
  <div *ngIf="venues.length === 0" class="empty">
    No pending venues 🎉
  </div>

</div>