<nav class="navbar">
  <div class="logo">BookMyVenue</div>

  <div class="search-box">
    <input type="text" placeholder="Search venues..." />
  </div>

  <div class="nav-actions">
    <span class="icon">🔔</span>
    <img 
      src="https://cdn-icons-png.flaticon.com/512/149/149071.png" 
      class="profile"
    />
  </div>
</nav>

<div class="venue-container">
  <div class="venue-card" *ngFor="let venue of venues">

<img 
  [src]="venue.images?.[0]?.imageUrl || 'assets/default.jpg'" 
  class="venue-img"
/>
    <div class="venue-content">
      <h3>{{ venue.name }}</h3>
      <p class="location">📍 {{ venue.address }}</p>

      <p class="desc">{{ venue.description }}</p>

      <div class="details">
        <span>👥 {{ venue.capacity }}</span>
        <span class="price">₹{{ venue.pricePerDay }}</span>
      </div>

      <button (click)="bookVenue(venue)">
        Book Now
      </button>
    </div>

  </div>
</div>